# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL: The URL where this applet is hosted.
APP_URL="MY_APP_URL"

# SUPABASE CONFIGURATION
VITE_SUPABASE_URL="https://stygqxxldbegjilpzlco.supabase.co"
VITE_SUPABASE_ANON_KEY="sb_publishable_nxl9JQoEpOUMh0CC42XK6Q_k8rju9C3"
NEXT_PUBLIC_SUPABASE_URL="https://stygqxxldbegjilpzlco.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="sb_publishable_nxl9JQoEpOUMh0CC42XK6Q_k8rju9C3"

# WEB PUSH VAPID CONFIGURATION
VITE_VAPID_PUBLIC_KEY="BEl62iUYgUivxIkv69yViEuiBIa-Ib9-SkvMeAtA3LFgDzkrxZJjSgSnfckjBJuBkr3qBUYIHBQFLXYp5Nksh8U"
